.bookNow {
  position: relative;
  font-size: var(--mobile-android-subtitle-1-m1624-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--mobile-android-subtitle-1-m1624);
  color: var(--g-board-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-86xl);
  background-color: var(--samsung-light-primary);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-dodgerblue-100);
}
@media screen and (max-width: 400px) {
  .button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
